body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  
  background-color: #ffffff;
  }
  
  a {
	  text-decoration: none;
  }
  
  .main-navigation {
	  font-size: 16px;
      line-height: 30px;
	  color: #000000;
	  text-transform: uppercase;
	  /* background-color: #eeeeee; */
  }
  
  .site-navigation,
  .basket-navigation {
	  list-style: none;
  }
  
.site-navigation a,
.basket-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.basket-navigation a:active {
	color: #a6a6a6;
	}
	
.slider-header {
	color: #000000;
	font-size: 55px;
	line-height: 55px;
	text-transform: uppercase;
}	

.main-header-logo:hover {
	filter: alpha (Opacity=80);
  opacity: 0.80;
}
.main-header-logo:active{
	filter: alpha (Opacity=30);
  opacity: 0.30;
}

.services-list {
	list-style: none;
}

.services-item{
	text-align: left;
}
.services-item h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	
}

.about p:first-child {
	font-size: 45px;
	font-weight: 500;
    line-height: 45px;
	color: #000000;
	}
.about-servises h4 {
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.table-heading {
	font-size: 16px;
	font-weight: 700;
    line-height: 24px;
	color: #000000;
	text-transform: uppercase;
}

   tr:nth-child(2n)  {
	font-size: 45px;
	font-weight: 700;
    line-height: 10,06px;
	color: #000000;
}

.gallery-list {
		list-style: none;
}

.button {
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height:  18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.button:hover,
 .button:focus{
  background-color: #e74246;
}


.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}
.button-green {
	background-color: #00ca74;
}
.button-green:hover,
.button-green:focus {
	 background-color: #00bc6c;
}

.button-green:active {
	 background-color: #00aa62;
	 color: rgba(255, 255, 255, 0.3);
}
.button-yellow {
	background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
	 background-color: #eab534;
}

.button-yellow:active {
	 background-color: #e5a722;
	 color: rgba(255, 255, 255, 0.3);
}	 

.gallery-item {
  filter: alpha (Opacity=20);
  opacity: 0.20;
}

.gallery-item:hover {
  filter: alpha (Opacity=100);
  opacity: 1;
}

.gallery-item:active{
  filter: alpha (Opacity=10);
  opacity: 0.10;
}


.form-item input,
.form-comment {
	font: inherit;

    background-color: transparent;
    border: 2px solid #d7dcde;
	color:#999999;
}

.form-item input:hover,
.form-comment:hover {
	border-color: #b4b9bb;
	color:#b4b9bb;
}
.form-item input:focus,
.form-comment:focus {
	border-color: #000000;
	color:#000000;
}
.form-item input:invalid {
	border-color: #e74246;
	color:#e74246;
}

.social-list {
		list-style: none;
}

.footer-discount b {
	font-size: 36px;
	font-weight: 700;
    line-height: 36px;
	color: #000000;
}
.footer-discount {
	font-size: 16px;
	font-weight: 400;
    line-height: 22px;
	color: #333333;
}