body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  
  background-color: #ffffff;
  }
  
  a {
	  text-decoration: none;
  }
  
  .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

  .main-header {
	 width: 100%;
	 margin-bottom: 80px;
     background-color: #eeeeee;
  }
  
  .inner-page .main-header  {
	margin-bottom: 60px;
  }
  .main-navigation {
	 display: flex;	
     flex-direction: row;

		  
	  font-size: 16px;
      line-height: 30px;
	  color: #000000;
	  text-transform: uppercase;
	  
	  margin-bottom: 85px;
	  padding-top: 50px;
  }
  
  .inner-page .page-title {
	  margin: 0;
	  padding: 0;
	  padding-bottom: 115px;
	  text-align: center;
  }
  .container {
	width: 1200px;
	margin: 0 auto;
    padding: 0 20px;
}

  .site-navigation {
	  width: 640px;	  
	  margin: 0px;
	  padding:0px;
	  margin-right: 60px;
  }
  
  .backet-navigation {
	 width: 100px;	 
	 margin: 0px;
	 padding:0px;
	 margin-left:auto;
	  }
   
   
  .site-navigation,
  .backet-navigation {
	list-style: none;
  }
  
.site-navigation a,
.backet-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.backet-navigation a:hover,
.backet-navigation a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.backet-navigation a:active {
	color: #a6a6a6;
	}
	
.slider-header {
	color: #000000;
	font-size: 55px;
	line-height: 55px;
	text-transform: uppercase;
}	

.main-header-logo {
	margin-right: 200px;
}
.main-header-logo:hover {
	filter: alpha (Opacity=80);
  opacity: 0.80;
}
.main-header-logo:active{
	filter: alpha (Opacity=30);
    opacity: 0.30;
}
.services {
	margin-bottom:162px;
}

.services-list {
	display: flex;
	justify-content: space-between;
	
	margin: 0;
    padding: 0;
	list-style: none;
}

.services-item{
	text-align: left;
	
	width: 300px;
}
.services-item h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	
}


.about-achievements {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  
  } 

.about {
	width: 660px;
	
}
.achievements {
	width: 300px;
	
}
.about p:first-child {
	font-size: 45px;
	font-weight: 500;
    line-height: 45px;
	color: #000000;
	}
.about-servises h4 {
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.table-heading {
	font-size: 16px;
	font-weight: 700;
    line-height: 24px;
	color: #000000;
	text-transform: uppercase;
}

   tr:nth-child(2n)  {
	font-size: 45px;
	font-weight: 700;
    line-height: 10,06px;
	color: #000000;
}

.gallery-list {
	list-style: none;
		
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.gallery {
	margin-bottom: 80px;
	}
	
.button {
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height:  18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.button:hover,
 .button:focus{
  background-color: #e74246;
}


.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}
.button-green {
	background-color: #00ca74;
}
.button-green:hover,
.button-green:focus {
	 background-color: #00bc6c;
}

.button-green:active {
	 background-color: #00aa62;
	 color: rgba(255, 255, 255, 0.3);
}
.button-yellow {
	background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
	 background-color: #eab534;
}

.button-yellow:active {
	 background-color: #e5a722;
	 color: rgba(255, 255, 255, 0.3);
}	 

.gallery-item {
    opacity: 0.20;
}

.gallery-item:hover {
    opacity: 1;
}

.gallery-item:active{
   opacity: 0.10;
}


.form-item input,
.form-comment {
	font: inherit;

    background-color: transparent;
    border: 2px solid #d7dcde;
	color:#999999;
}

.form-item input:hover,
.form-comment:hover {
	border-color: #b4b9bb;
	color:#b4b9bb;
}
.form-item input:focus,
.form-comment:focus {
	border-color: #000000;
	color:#000000;
}
.form-item input:invalid {
	border-color: #e74246;
	color:#e74246;
}
/* почему не отборажается картинка? что то вообще не могу фоном через css поставить ни одну...  и фон не во весь контейнер...*/
.footer-contacts-map {
	background-image: url(img/map-marker.png);
	background-repeat: no-repeat;
	background-color: #eeeeee;
	
	margin-bottom: 30px;
}

.social-list {
    list-style: none;
	margin: 0;
	padding: 0;
}

.footer-discount b {
	font-size: 36px;
	font-weight: 700;
    line-height: 36px;
	color: #000000;
}
.footer-discount {
	font-size: 16px;
	font-weight: 400;
    line-height: 22px;
	color: #333333;
	
	 width:760px; 
	 margin: 0;
	 margin-left: 140px; 
	/*  не понимаю почему это маргин при изменении не работает? */
}
.footer-social-discount {
	display: flex;
		}
	
.footer-social {
	width: 260px;
	margin: 0;
	} 
/* стили текста для catalog.html */
.page-title {
	font-size: 55px;
	font-weight: 500;
    line-height: 55px;
	color: #000000;
}
.form-legend {
	font-size: 18px;
	font-weight: 700;
    line-height: 30px;
	color: #000000;
}
.filters {
	width: 260px;
	margin: 0;
	padding: 0;
	margin-right: 100px;
}
.catalog {
	width: 800px;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
}

.wrapper-side-sort-catalog  {
	display: flex;
	flex-direction: column;
}
.side-sort {
	margin: 0;
	padding: 0;
}
.filter-input {
	font-size: 16px;
	font-weight: 400;
    line-height: 20px;
	color: #333333;
}
.filter-option {
	list-style: none;
}

fieldset {
    border: 0;
}
.side-sort-legend {
	font-size: 18px;
	font-weight: 700;
    line-height: 18px;
	color: #000000;
}
.side-sort-list {
	font-size: 14px;
	font-weight: 400;
    line-height: 18px;
	color: #000000;
	opacity: 0.30;
	text-transform: uppercase;
}

.side-sort-list:hover {
	opacity: 0.60;
}

.side-sort-list:active {
	opacity: 1;
}
.catalog-list {
	display: flex;
	flex-wrap: wrap;
	
	list-style: none;
	padding: 0;
    margin: 0;
}
.catalog-item {
	list-style: none;	
	width: 360px;
	margin-bottom: 33px;
	margin-left: 40px;
}
.catalog-category {
	font-size: 16px;
	font-weight: 400;
    line-height: 18px;
	color: #666666;
}

.side-sort-legend {
	margin: 0;
}
.catalog-item-title {
	font-size: 18px;
	font-weight: 700;
    line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.catalog-item-title:hover {
	color: #ff6666;
}
.catalog-item-title:active {
	color: #000000;
	opacity: 0.3;
}

.pagination-list { 
    font-size: 16px;
	font-weight: 500;
    line-height: 18px;
	text-transform: uppercase;

    list-style:none;
    padding: 0;
    margin: 0;
	margin-left: 40px;
	margin-bottom: 60px;
	}

.pagination-item a {
	color: #000000;
}

.pagination-item:active {
	opacity: 0.3;
}